{% extends 'base.html' %}

{% block content %}
<div class="row">
    <div class="span8">
        <h2>Account created, welcome!</h2>
        <p>
            Almost there. We just need to verify your e-mail address to make
            sure you are who you say you are.
        </p>
    </div>
    <div class="span4">
        <h2>What's next?</h2>
        <ol>
            <li>
                <strong>Check your e-mail</strong> for an e-mail
                from us containing a verification link.
            </li>
            <li>
                <strong>Verify your account</strong> and login.
            </li>
            <li>
                <strong>Look at a ton of cat pictures</strong>, because I'll be
                super disappointed if someone out there doesn't make a cat picture
                website out of this.
            </li>
            <li>
                <strong>Improve this Flask skeleton template!</strong> I created this
                and made it public to get a better handle no best practices, for both
                Flask and python in general. Corrections and suggestions are incredibly
                welcome and encouraged!
            </li>
        </ol>
    </div>
</div>
{% endblock %}
