{% extends 'base.html' %}

{% block content %}
<div class="row">
    <div class="span4">
        <h4>Welcome!</h4>
        <p>
        This is the authorized section. This is where all the secrets are. Except
        there aren't any yet, except my e-mail address. Don't hand that out, by
        the way. Thanks.
        </p>
    </div>

    <div class="span4">
        <h4>What's next?</h4>
        <p>
        End of the road here. Now you have to actually make the app.
        Have fun.
        </p>
    </div>
    <div class="span4">
        <h4>Questions/comments?</h4>
        <p>
        Feel free to <a href="mailto:jeff@pssdbt.com">e-mail me</a> and I'll do my
        best to get back to you. Keep in mind that I'm pretty busy and still figuring
        a lot of things out myself, but I'm happy to try and help.
        </p>
    </div>
</div>
{% endblock %}
